{% extends "adminBase.html" %} {% block content %}
<!--//header-w3l-->
<!--/w3l-inner-page-breadcrumb-->
<style>
	table {
		width: 100%;
		margin-top: 20px;
	}
	th,
	td {
		padding: 10px;
	}
	table,
	th,
	td {
		border: 1px solid gray;
	}
</style>
<section class="w3l-inner-page-breadcrumb">
	<div class="breadcrumb-bg py-5">
		<div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
			<h2 class="title pt-5">Comment Reported</h2>
		</div>
	</div>
</section>
<!-- //w3l-inner-page-breadcrumb-->
<!-- /contact-section -->
<div class="w3l-contact-10" id="contact">
	<div class="form-41-mian py-lg-5 py-md-4 py-2">
		<div class="container">
			<div class="header-title text-center mx-auto">
				<h6 class="title-subhny mb-1"></h6>
				<!-- <h3 class="title-w3l">Requested StartUp</h3> -->
				<table>
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>User Reported</th>
						<th>Title</th>
						<th>Description</th>
						<th>Comment</th>
						<th>Comment By</th>
						<th colspan="2">Action</th>
					</tr>
					{% for d in data %}
					<tr>
						<td>{{d.id}}</td>
						<td>{{d.date}}</td>
						<td>{{d.user.name}}</td>
						<td>{{d.comment.idea.idea}}</td>
						<td>{{d.comment.idea.desc}}</td>
						<td>{{d.comment.comment}}</td>
						<td>{{d.comment.user.name}}</td>
						<td><a href="/adminDeleteReportedComment?id={{d.comment.id}}" class="btn btn-danger">Delete</a></td>
						<td><a href="/adminIgnoreReportedComment?id={{d.id}}" class="btn btn-warning">Ignore</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<!-- //contacts-5-grid -->
	</div>
</div>

<!-- //contact-section -->
<!-- footer -->
{% endblock %}
